body {
  margin: 0;
  padding: 5px 5px 300px;
  background-color: #3480E8;
}

h1 {
  text-align: center;
  background: url("../img/h1-background.jpeg") ;
  border-radius: 25px;
}

img {
  border-radius: 500px;
  max-width: 200px;
  max-height: 250px;
}

h2 {
  text-align: center;
  margin: 12px;
  padding: 4px;
  border: 3px solid maroon;
  background-color: #63231B;
}

.bio {
  display: inline-block;
  padding: 0 12%;
  width: 90%;
}

.bio p {
  margin: auto 3px;
  width: 20%;
  padding: 3px;
  float: left;
  border: 1px solid green;
  background: url("../img/grass-bg.jpeg") no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

.bio .center a:link {
  font-weight: bold;
  color: #B2150C;
  background-color: #EBFF19;
  border-radius: 10px;
  padding: 1px 3px;
}

.bio .center a:visited {
  color: #1473CC;
}

.bio .center a:hover {
  background-color: #CCB803;
}

.bio .center a:active {
  border: 1px dotted red;
}

.center {
  text-align: center;
  padding-left: 55px;
}

.profile {
  font-style: italic;
}

footer {
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(191, 179,141, 0.8);
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  body {
    background-color: grey;
    color: white;
  }
}

@media screen and (max-width: 600px) and (min-width: 480px){
  body {
    background-color: teal;
  }
}
